body {
  margin:0px;
  background-color:rgba(16, 21, 23, 0.850980392156863);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:525px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:525px;
  display:flex;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:3193px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:525px;
  width:390px;
  height:3193px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Thin', 'Inter', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:33px;
  letter-spacing:0.1px;
  text-align:center;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:1361px;
  width:163px;
  height:48px;
  display:flex;
  font-family:'Inter Thin', 'Inter', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:33px;
  letter-spacing:0.1px;
  text-align:center;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:454px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:858px;
  width:344px;
  height:454px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.933333333333333);
}
#u132 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:898px;
  width:211px;
  height:37px;
  display:flex;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.933333333333333);
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.1px;
  line-height:23px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:949px;
  width:301px;
  height:164px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.1px;
  line-height:23px;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:438px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:3216px;
  width:346px;
  height:438px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:39px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:3584px;
  width:127px;
  height:39px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  color:#027DB4;
  text-align:left;
  line-height:23px;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Thin', 'Inter', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:33px;
  letter-spacing:0.1px;
  text-align:center;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:2860px;
  width:294px;
  height:33px;
  display:flex;
  font-family:'Inter Thin', 'Inter', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:33px;
  letter-spacing:0.1px;
  text-align:center;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  line-height:23px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:3259px;
  width:301px;
  height:304px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  line-height:23px;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
  letter-spacing:0.1px;
  line-height:23px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1153px;
  width:301px;
  height:115px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
  letter-spacing:0.1px;
  line-height:23px;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:190px;
  background:inherit;
  background-color:rgba(39, 39, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3718px;
  width:391px;
  height:190px;
  display:flex;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:8px;
  color:#D7D7D7;
  line-height:9px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:3776px;
  width:422px;
  height:89px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:8px;
  color:#D7D7D7;
  line-height:9px;
}
#u140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:7px;
  color:#D7D7D7;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:3859px;
  width:525px;
  height:12px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:7px;
  color:#D7D7D7;
}
#u141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:3850px;
  width:348px;
  height:1px;
  display:flex;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:3750px;
  width:56px;
  height:26px;
  display:flex;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:3730px;
  width:16px;
  height:16px;
  display:flex;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:8px;
  color:#D7D7D7;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:3733px;
  width:27px;
  height:10px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:8px;
  color:#D7D7D7;
}
#u145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:313px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:545px;
  width:342px;
  height:313px;
  display:flex;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:434px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1465px;
  width:344px;
  height:434px;
  display:flex;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:434px;
  background:inherit;
  background-color:rgba(45, 66, 86, 0.509803921568627);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1465px;
  width:344px;
  height:434px;
  display:flex;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:525px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:525px;
  display:flex;
  color:rgba(51, 51, 51, 0.329411764705882);
}
#u149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u150 {
  position:fixed;
  left:50%;
  margin-left:-195px;
  top:0px;
  width:390px;
  height:42px;
}
#u150_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:42px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.850980392156863);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.329411764705882);
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  display:flex;
  color:rgba(51, 51, 51, 0.329411764705882);
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152 {
  position:fixed;
  left:25px;
  top:4px;
  width:83px;
  height:38px;
}
#u152_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  height:28px;
  display:flex;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155 {
  position:absolute;
  left:108px;
  top:0px;
}
#u155_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:210px;
  height:42px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:42px;
  display:flex;
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  text-align:center;
  line-height:30px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:233px;
  width:338px;
  height:30px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  text-align:center;
  line-height:30px;
}
#u157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1514px;
  width:295px;
  height:75px;
  display:flex;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:209px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
  line-height:23px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1629px;
  width:307px;
  height:209px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
  line-height:23px;
}
#u159 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:434px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:2377px;
  width:344px;
  height:434px;
  display:flex;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:434px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1921px;
  width:344px;
  height:434px;
  display:flex;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:434px;
  background:inherit;
  background-color:rgba(45, 66, 86, 0.509803921568627);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1921px;
  width:344px;
  height:434px;
  display:flex;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:434px;
  background:inherit;
  background-color:rgba(45, 66, 86, 0.509803921568627);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:2377px;
  width:344px;
  height:434px;
  display:flex;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1966px;
  width:301px;
  height:75px;
  display:flex;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:156px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
  line-height:23px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:2084px;
  width:295px;
  height:156px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
  line-height:23px;
}
#u165 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:179px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
  line-height:23px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:2546px;
  width:289px;
  height:179px;
  display:flex;
  font-family:'Inter Light', 'Inter', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
  line-height:23px;
}
#u166 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:2428px;
  width:274px;
  height:75px;
  display:flex;
  font-family:'Inter Extra Light', 'Inter', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.1px;
  color:#F8F8F8;
  text-align:left;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:272px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:2944px;
  width:346px;
  height:272px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
